body {
    margin: 0;
    border: none;
    padding: 0;
}

/* ----------------- Navbar */

.navbar {
    width: 100vw;
    position: fixed;
}

/* ----------------- Hero section */

.hero-section {
    background: url("../images/vineyard-field-sunset.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
}